<%= link_to as_("Scan"), {:controller=>"togodb", :action=>"scan"}, :class=>"scan", :id=>"togodb-scan--link" %>
<%= link_to as_("Import"), {:controller=>"togodb_import", :action=>"name"}, :class=>"import", :id=>"togodb-name-link" %>
<%= link_to as_("Database"), {:controller=>"togodb", :action=>"index"}, :class=>"index", :id=>"togodb-index--link" %>
